html {
  font-size: 12px;
  -webkit-text-size-adjust: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: #f7f7f7;
  font-family: Literata, serif;
  overflow-x: hidden;
}
body .content {
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  padding: 80px 50px 10px;
  margin: 0 auto;
  background-color: #fff;
}
